<div class="toggler-headings">
  <h3 class="toggler-heading active" (click)="toggle($event)">
    Education
  </h3>
  <h1 class="and" style="font-family: 'Great Vibes', cursive; color:tomato; text-shadow: 0 1px 2px maroon;">&</h1>
  <h3 class="toggler-heading" (click)="toggle($event)">
    Career
  </h3>
</div>

<div class="viewport-container">
  <div class="education-carrer-container" #contentLeft>
    <div class="education">
      <h3>Academics</h3>  
      <ul>
        <li> 
          <span class="list-logo-bullet">
            <img src="../../assets/res/logos/LA.jpg" alt="LA logo" width="100%">
          </span>
          <span class="list-text">
            School Leaving Certificate (2012) 
            <h5>Little Angels' School</h5>
          </span> 
        </li>
        <li>
          <span class="list-logo-bullet">
            <img src="../../assets/res/logos/LA.jpg" alt="LA logo" width="100%">
          </span>
          <span class="list-text">
            +2 Science Studies (2013-2015)
            <h5>Little Angels' High School</h5>
          </span>
        </li>
        <li>
          <span class="list-logo-bullet">
            <img src="../../assets/res/logos/sxc.jfif" alt="SXC logo" width="100%">
          </span>
          <span class="list-text">
            Bsc CSIT Tribhuwan University (2016-2020)
            <h5>St. Xavier's College</h5>
          </span>
        </li>
      </ul>
      <br> 
      <h3>
        Extra Curricular Activities
      </h3> 
      <p class="eca">
          <i class="fa-solid fa-futbol"></i>Football
          <i class="fa-solid fa-guitar"></i>Guitar 
          <i class="fa-solid fa-palette"></i>Painting <br>
          <i class="fa-solid fa-hat-cowboy"></i>Nepal Scouts <br>
          <i class="fa-solid fa-person-swimming"></i>Swimming 
          <i class="fa-solid fa-basketball"></i>Basketball
      </p>
    </div>
  
    <div class="career">
      <ul>

        <li>
          <span class="list-logo-bullet">
            <img src="../../assets/res/logos/cotiviti.jfif" alt="Cotiviti logo" width="100%">
          </span>
          <span class="list-text">           
            Frontend (Angular) Developer
            <h5>COTIVITI NEPAL · Full-time</h5>
            <h6>Apr 2022 - current · 8 mos</h6>
            <h6>Hattisar, Kathmandu · Hybrid</h6>
            <!-- <small>Stacks: Oracle, PL/SQL, Java, Spring, Angular, JS.</small> -->
          </span> 
        </li>

        <li>
          <span class="list-logo-bullet">
            <img src="../../assets/res/logos/cotiviti.jfif" alt="Cotiviti logo" width="100%">
          </span>
          <span class="list-text">           
            Trainee
            <h5>COTIVITI NEPAL · Internship</h5>
            <h6>Mar 2022 - Apr 2022 · 2 mos</h6>
            <h6>Hattisar, Kathmandu · Hybrid</h6>
            <!-- <small>Project-based training on technologies like SQL, Java, Spring, Angular, Shell Scripting, U.S. Healthcare System.</small> -->
          </span> 
        </li>

        <li>
          <span class="list-logo-bullet">
            <img src="../../assets/res/logos/leapfrog.png" alt="Leapfrog logo" width="100%">
          </span>
          <span class="list-text">           
            Intern
            <h5>Leapfrog Technology, Inc.</h5>
            <h6>Dec 2021 - Jan 2022 · 2 mos</h6>
            <h6>Dillibazar, Kathmandu · Hybrid</h6>
            <!-- <small>Internship on Software Engineering with trainings on Web-development, Git, UI designing</small> -->
          </span> 
        </li>

        <li>
          <span class="list-logo-bullet">
            <img src="../../assets/res/logos/redmud.jfif" alt="Leapfrog logo" width="100%">
          </span>
          <span class="list-text">           
            Digital Marketting, Illustrator & Designer
            <h5>Redmud Coffee pvt. ltd.</h5>
            <h6>Jul 2021 - Dec 2021 · 6 mos</h6>
            <h6>Durbarmarg, Kathmandu · Hybrid</h6>
            <!-- <small>Making Illustrations, content for printables (menu, flyers,etc.) and social media posts. Handling social media platforms.   </small> -->
          </span> 
        </li>

      </ul>
    </div>
  </div>

  <div class="training-projects-container" #contentRight>
    <div class="trainings">

    </div>
  </div>
</div>

