.container{
    position: relative;
    display: flex;
    justify-content:center;
    align-items:center;
    /* border: 2px solid lime; */
    height: 80vh;
}

.viewport-container{
    width: calc(40vw + 10px);
    height: 100%; 
    position: relative;
    overflow-x: hidden;
    overflow-y: scroll; 
}

.content-board{
    width: 38vw; 
    height: 70vh; 
    margin-left: 3rem;
    position: relative;   
    /* border: 2px solid pink; */
}
    
ul{
    list-style-type: none; 
}

ul li.study-item{ 
    border-radius: 40px 0 0 0px;
    cursor: pointer;
    position: relative; 
    margin-bottom: 1.5rem;
    width: 100%; 
    transition: 100ms all;
    z-index: 3;
}

ul li.study-item:hover{  
    background-color: rgba(255, 255, 0, .1); 
} 

ul li.study-item:hover .accordion-tab i{
    display: initial;
}


.accordion-tab i{ 
    border-radius: 50px; 
    padding: .1rem;
    position: absolute;
    right: .3rem;
    top: .3rem; 
    font-size: .7rem; 
    display: none;
    transition: 200ms all;
}

li.study-item.active-tab i{
    transform: rotate(180deg);
}

ul li .accordion-tab{ 
    width: 100%;
    display: flex;
    justify-content: left;
    align-items: center;
    color: whitesmoke;
    position: relative;
    padding: .3rem .4rem; 
}

ul li.study-item .accordion{ 
    box-sizing: border-box;
    width: 100%;
    background-color: whitesmoke; 
    font-size: .8rem; 
    padding: 0;
    border-radius: 0 0 0 5px;
    transition: 400ms all; 
    height: 0;
    overflow: hidden; 
}

ul li.study-item.active-tab .accordion{ 
    height: fit-content;
    text-overflow: ellipsis;
    background-color: whitesmoke;
    padding: .2rem .6rem; 
}


ul li h6{
    font-weight: 300;
}

ul li .list-logo-bullet{
    margin-right: 1rem;
    border-radius: 50px;
    width: 70px;
    height: 70px;
    box-shadow: 3px 4px 10px rgba(0, 0, 0, 0.4);
    display: flex;
    justify-content: center;
    padding: 0;
    align-items: center;
    /* border: 3px solid fuchsia; */
} 

.training .list-text{
    /* text-decoration: none; */
    color: whitesmoke;
}
.training .list-text a:hover{
    color:indigo;
}

ul li .list-logo-bullet img{
    border-radius: 50px;
    /* object-fit: cover; */
    width: 70px;
    height: 70px;
    /* border: 3px solid firebrick; */
}

.education-carrier-container{
    /* border: 1px solid lime; */
    width: 80vw;
    height: inherit;
    position: absolute;
    display: flex;
    align-items:flex-start;
    left: 0;
    top: 0;
    justify-content:center;
    transition: 400ms all;
    /* margin-top: 1.2rem; */
}

.education{
    width: 50%;
    height: inherit;
    position: relative;
    display: flex;
    flex-direction: column;
    align-content: space-between;
    justify-content:space-between; 
}

.training{
    width: 50%;
    /* display: inline-block; */
    padding-top: 1rem;
    margin-top: 1rem;
    /* border: 1px dashed red; */
}

ul li.training-item{
    margin-bottom: 1rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

ul li.study-item h5,ul li.study-item h6,
ul li.training-item h5,ul li.training-item h6{
    color: black;
}

.toggler-headings{ 
    width: 100%;  
    display: flex;
    align-items:start; 
    justify-content:left;
}
 
h3{ 
    cursor: pointer;
    text-decoration: none;
}

h3.active{
    text-decoration: underline;
} 

.eca-container{ 
}

.eca{
    color: white;
     /* border: 1px solid rebeccapurple; */
     width: 100%;

}
.eca i{ 
    /* color: thistle; */
    font-size: 1.5rem;
    margin-right: 1rem;
}

.academics-container .line{
    margin-top: 1rem;
    background-color: aliceblue;
    height: 70%;
    width: 3px;
    position: absolute;
    margin-left: 2.5rem;
    z-index: 1;
}