<div class="toggler-headings">
  <h3 class="toggler-heading active" (click)="toggle($event)">
    Photos
  </h3>
  <i class="fa-solid fa-circle" style="margin-right: 1.8rem; margin-left:.2rem; padding-top: .4rem; font-size: .5rem;color: coral;"></i>
  <h3 class="toggler-heading" (click)="toggle($event)">
    Drawings
  </h3>
  <i class="fa-solid fa-circle" style="margin-right: 1.8rem; margin-left:.2rem; padding-top: .4rem; font-size: .5rem;color: coral;"></i>
  <h3 class="toggler-heading" (click)="toggle($event)">
    Illustrations
  </h3>
  <i class="fa-solid fa-circle" style="margin-right: 1.8rem; margin-left:.2rem; padding-top: .4rem; font-size: .5rem;color: coral;"></i>
</div>

<div class="viewport-container">
  <div class="art-container" #artContainer>
    <div class="row1"> 
      <div class="column">
        <img src="../../assets/res/photos/bkhtpr.JPG" style="width:100%">
        <img src="../../assets/res/photos/bro.jpg" style="width:100%">
        <img src="../../assets/res/photos/bros.jpg" style="width:100%">
        <img src="../../assets/res/photos/gm.png" style="width:100%"> 
        <img src="../../assets/res/photos/goodmood.jpg" style="width:100%"> 
        <img src="../../assets/res/photos/cave.jpg" style="width:100%"> 
      </div>
      <div class="column">
        <img src="../../assets/res/photos/dog.jpg" style="width:100%">
        <img src="../../assets/res/photos/dog_yawn.jpg" style="width:100%">
        <img src="../../assets/res/photos/dogs.jpg" style="width:100%">
        <img src="../../assets/res/photos/flower.jpg" style="width:100%">  
      </div>  
      <div class="column"> 
        <img src="../../assets/res/photos/monument.JPG" style="width:100%">
        <img src="../../assets/res/photos/mountain.jpg" style="width:100%">
        <img src="../../assets/res/photos/redbull.jpg" style="width:100%"> 
        <img src="../../assets/res/photos/sculpture.JPG" style="width:100%"> 
      </div>
      <div class="column"> 
        <img src="../../assets/res/photos/wedding_group.jpg" style="width:100%">
        <img src="../../assets/res/photos/yak.jpg" style="width:100%">
        <img src="../../assets/res/photos/pigeons.JPG" style="width:100%">
        <img src="../../assets/res/photos/me1.jpg" style="width:100%"> 
        <img src="../../assets/res/photos/knits.jpg" style="width:100%">
      </div>
    </div>
    
    <div class="row2">
      <div class="column">
        <img src="../../assets/res/drawings/art1.jpg" style="width:100%"> 
        <img src="../../assets/res/drawings/art2.jpg" style="width:100%"> 
        <img src="../../assets/res/drawings/art3.jpg" style="width:100%"> 
        <img src="../../assets/res/drawings/art4.jpg" style="width:100%"> 
      </div>
      <div class="column">
        <img src="../../assets/res/drawings/art5.jpg" style="width:100%"> 
        <img src="../../assets/res/drawings/art6.jpg" style="width:100%"> 
        <img src="../../assets/res/drawings/art7.jpg" style="width:100%"> 
        <img src="../../assets/res/drawings/art8.jpg" style="width:100%"> 
      </div>  
      <div class="column"> 
        <img src="../../assets/res/drawings/art9.jpg" style="width:100%">
        <img src="../../assets/res/drawings/art10.jpg" style="width:100%"> 
        <img src="../../assets/res/drawings/art11.jpg" style="width:100%"> 
        <img src="../../assets/res/drawings/art12.jpg" style="width:100%"> 
      </div>
      <div class="column"> 
        <img src="../../assets/res/drawings/art13.jpg" style="width:100%"> 
        <img src="../../assets/res/drawings/art14.jpg" style="width:100%"> 
        <img src="../../assets/res/drawings/art15.jpg" style="width:100%"> 
        <img src="../../assets/res/drawings/art16.jpg" style="width:100%"> 
      </div>
    </div>

    <div class="row3">
      <div class="column">
        <img src="../../assets/res/desgins/5.png" style="width:100%"> 
        <img src="../../assets/res/desgins/goodmorning-coffee.jpg" style="width:100%"> 
      </div>
      <div class="column">
        <img src="../../assets/res/desgins/apply-franchise.png" style="width:100%"> 
        <img src="../../assets/res/desgins/stories.png" style="width:100%"> 
      </div>  
      <div class="column"> 
        <img src="../../assets/res/desgins/chicken-satay.jpg" style="width:100%">
        <img src="../../assets/res/desgins/cookies-accept.png" style="width:100%"> 
        <img src="../../assets/res/desgins/giftOfCoffee.jpg" style="width:100%"> 
      </div>
      <div class="column"> 
        <img src="../../assets/res/desgins/franchise.png" style="width:100%"> 
      </div>
    </div>
  </div> 
</div>