<!-- <h3>Hi ! I am Pratik.</h3> -->

<div class="account-overview-container">
  <div class="account-img">
    <img src="../../assets/res/vector/dog-lover.png" alt="user image">
  </div>
  <h2 id="username">
    {{username}}
    <span><img src="../../assets/res/icons/nepal.svg" width="35px;" alt="nepal"></span>
  </h2> 
    
  <strong id="role">{{role}}</strong>
  <hr>
  <p class="user-details">
    {{email}}&nbsp;<i class="fa-sharp fa-regular fa-envelope"></i> <br>
    dob: {{dob}}  <br>
    socials:  
      <a href="https://www.instagram.com/pratik.amatya" target="_blank"><i class="fa-brands fa-instagram"></i></a>
      <a href="https://www.linkedin.com/in/pratik-amatya-4374a3240/" target="_blank"><i class="fa-brands fa-linkedin"></i></a>
      <a href="https://www.youtube.com/@pratikamatya5190" target="_blank"><i class="fa-brands fa-youtube"></i></a>
    </p>
</div>

<div class="skills">
  <div class="tab">
    <h3>Skills</h3>
    <i class="fa-solid fa-chevron-right"></i>
  </div>
  
  <ul>
    <li><img src="../../assets/res/icons/angular.svg" alt="angular">Angular</li>
    <li><img src="../../assets/res/icons/blender-svgrepo-com.svg" alt="blender">Blender</li>
    <li><img src="../../assets/res/icons/css3-alt.svg" alt="CSS3">CSS</li>
    <li><img src="../../assets/res/icons/node-js.svg" alt="Nodejs">NodeJS</li>
    <li><img src="../../assets/res/icons/square-js.svg" alt="JS">JavaScript</li>
    <li><img src="../../assets/res/icons/java-svgrepo-com.svg" alt="Java">Java</li>
    <li><img src="../../assets/res/icons/illustrator.svg" alt="Illustor">Illustor</li>
  </ul>
</div>

<div class="languages">
  <div class="tab">
    <h3>Languages</h3>
    <i class="fa-solid fa-chevron-right"></i>
  </div>
  
  <ul>
    <li>Nepali</li>
    <li>English</li>
    <li>Hindi</li>
    <li>German/Deutsh</li>
  </ul>
</div>