.account-overview-container{
    width: fit-content;
    /* border: 5px solid gray; */
    /* border: 1px solid violet; */
    height: 100%;
    text-align: center;
    padding: 1rem 3rem;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 3px 20px 0 10px;
    backdrop-filter: blur(30px);
    /* box-shadow: 0px 4px 3px rgba(0, 0, 0, 0.3); */
}

.account-overview-container hr{
    width: 200px;
    margin: 1rem auto;
}
.account-overview-container p{
    line-height: 1.7rem;
}

.account-img{
    width: 200px;
    position: relative;
    /* border: 1px solid red; */
    margin: 1rem auto;
}

.account-img img{
    width: 100%; 
}

p.user-details{
    /* text-align: center; */
}

#username{
    font-weight: normal;
    color: whitesmoke;
}
#role{
    text-transform: uppercase;
    letter-spacing: 2px;
}

.user-details a{
    text-decoration: none;
    color: white;
    font-size: 1.1rem;
    margin-left: 1rem;
}

.skills{
    position: absolute;
    left: 2rem;
    top: 2rem;
    width: 25%;
    height: auto;
    /* border: 2px solid floralwhite; */
}

.skills .tab, .languages tab{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.skills i, .languages i{
    background-color: yellow; 
    border-radius: 50%;
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: .9rem;
}

.skills ul, .languages ul{
    list-style-type: none;
    /* border: 1px solid bisque; */
}

.skills li, .languages li{
    display: flex;
    justify-content: left;
    align-items: center;
    color: whitesmoke;
    margin-bottom: .2rem;
}

.skills img{
    width: 30px;
    margin-right: .4rem;
    
}

.languages{
    position: absolute;
    left: 2rem;
    top: 22rem;
    width: 25%;
    height: auto;
    /* border: 2px solid floralwhite; */
}


.text-container{
    box-sizing: border-box;
    position: relative;
    display: block;
    text-align: center;
    /* background-color:aquamarine; */
    top: 45%;
    transform: translateY(-50%);
}

hr{
    width: 40vw;
    margin: 0 auto;
    border-style:groove;
    background-color: yellow;
}

.greeting-text{
    /* background-color: aliceblue; */
    /* top: 50%; */
    line-height: 1rem;
    transform: translateY(-50%);
    color: whitesmoke;
    font-weight: 500;
    font-size: 2rem;   
    font-family: 'Sacramento', cursive;
}

#hi{
    font-weight: 600;
    font-size: 1.7rem;
    color:yellowgreen;
    line-height: 1.2rem;
    font-family: 'Sacramento', cursive;
}

.greeting-text h1#name{
    font-size: 5rem;
    display: inline;
    color: white;
    color:white ;
    text-shadow: 0 1px 3px darkolivegreen;
    font-family:'Audiowide', sans-serif;
}

.greeting-text h1#name:hover{
    text-shadow: 0 2px 3px darkcyan;
}

.professions{
    margin-top: .6rem;
    font-family: 'Poppins';
    font-weight: 100;
    transition: 200ms all;
}

.professions .profession:nth-child(1):hover{
    color:turquoise;
}
.professions .profession:nth-child(2):hover{
    color:crimson;
}
.professions .profession:nth-child(3):hover{
    color:violet;
}