<!-- <h3>Hi ! I am Pratik.</h3> -->

<div class="account-overview-container">
  <div class="account-img">
    <img src="../../assets/res/vector/dog-lover.png" alt="user image">
  </div>
  <h2 id="username">{{username}}</h2>
  <strong id="role">{{role}}</strong>
  <hr>
  <p class="user-details">
    {{email}}&nbsp;<i class="fa-sharp fa-regular fa-envelope"></i> <br>
    dob: {{dob}}  <br>
    socials:  
      <a href="https://www.instagram.com/pratik.amatya" target="_blank"><i class="fa-brands fa-instagram"></i></a>
      <a href="https://www.linkedin.com/in/pratik-amatya-4374a3240/" target="_blank"><i class="fa-brands fa-linkedin"></i></a>
      <a href="https://www.youtube.com/@pratikamatya5190" target="_blank"><i class="fa-brands fa-youtube"></i></a>
    </p>
</div>