/* *:hover{
    color:red;
} */
button{
    border-radius: 50%;
    width: 2rem;
    height: 2rem;
    border: 0;  
    box-shadow: 0px 0px 7px black;
    cursor: pointer;
    background-color: transparent;
}

button:hover{
    color:red;
}

button span{
    color: whitesmoke;
    font-size: 1.3rem;
}

.menu-label{
    color: black;
    display: block;
    text-align: center;
    /* visibility: hidden; */
    /* margin-top: -10px; */
}
.menu-label:hover{
    /* color:red; */
    visibility:visible;
}
