<h3>Photos</h3>

<div class="row"> 
  <div class="column">
    <img src="../../assets/res/photos/bkhtpr.JPG" style="width:100%">
    <img src="../../assets/res/photos/bro.jpg" style="width:100%">
    <img src="../../assets/res/photos/bros.jpg" style="width:100%">
    <img src="../../assets/res/photos/cave.JPG" style="width:100%">
    <img src="../../assets/res/photos/chicken.jpg" style="width:100%">
    <img src="../../assets/res/photos/cliff.jpg" style="width:100%">
    <img src="../../assets/res/photos/couple.jpg" style="width:100%">
  </div>
  <div class="column">
    <img src="../../assets/res/photos/dog.jpg" style="width:100%">
    <img src="../../assets/res/photos/dog_yawn.jpg" style="width:100%">
    <img src="../../assets/res/photos/dogs.jpg" style="width:100%">
    <img src="../../assets/res/photos/flower.jpg" style="width:100%">
    <img src="../../assets/res/photos/goggs.jpg" style="width:100%">
    <img src="../../assets/res/photos/knits.jpg" style="width:100%">
  </div>  
  <div class="column">
    <img src="../../assets/res/photos/leaf.jpg" style="width:100%">
    <img src="../../assets/res/photos/monument.JPG" style="width:100%">
    <img src="../../assets/res/photos/mountain.jpg" style="width:100%">
    <img src="../../assets/res/photos/redbull.jpg" style="width:100%">
    <img src="../../assets/res/photos/rhododendron.jpg" style="width:100%">
    <img src="../../assets/res/photos/sculpture.JPG" style="width:100%">
    <img src="../../assets/res/photos/sign.jpg" style="width:100%">
  </div>
  <div class="column">
    <img src="../../assets/res/photos/sneakers.jpg" style="width:100%">
    <img src="../../assets/res/photos/wedding_group.jpg" style="width:100%">
    <img src="../../assets/res/photos/yak.jpg" style="width:100%">
    <img src="../../assets/res/photos/pigeons.JPG" style="width:100%">
    <img src="../../assets/res/photos/me1.jpg" style="width:100%">
    <img src="../../assets/res/photos/me2.JPG" style="width:100%">
  </div>
</div>
