.container .background{
    background-color: #a0a0a0;
    /* background-color:   rgba(0, 0, 0, 0.1); */
    /* background-image: url('../assets/res/bg2.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;   */
    opacity: 0.8;
    height: 100vh;
    width: 100vw;
    filter: blur(1px);
    position: relative; 
    overflow: hidden;
} 

.button-bar{
    position:absolute;
    /* margin-top: .5rem ; */
    /* height: fit-content;  */
    background-color: rgba(0, 0, 0, .1);
    /* background-color: transparent; */
    left: 0;
    /* top: 0; */
    bottom: 0;
    right: 0; 
    /* width: max-content; */
    padding-left:  1rem;
    padding-right:  1rem;
    width: 100vw;
    height: auto;
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    align-items: center;
    z-index: 2;
} 
.button-bar #hint{
    /* color: rebeccapurple; */
    margin-top: -10%;
    position: absolute;
    font-size: 2rem;
    /* color: thistle; */
    color: yellowgreen;
    padding: 0 .5rem;
    border-radius: 30px;
    background-color: black;
}
.button-bar a{
    text-decoration: none;
    color: whitesmoke;
    width: 3.2rem;
    height: 3.2rem;
    /* text-align: center; */ 
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 200ms all;
}

.button-bar a.active-link{
    font-size: 2rem;
    /* padding-bottom: 1rem;  */
    /* transform: scale(2.2); */
    color: yellowgreen; 
    /* color: thistle; */
    /* color: black; */
    background-color: aliceblue;
}

.top-bar{
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    align-items: center; 
    justify-content: right;
    width: 100vw;
    z-index: 1;
    font-size: .8rem;
    color: whitesmoke;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.display-area{
    width:100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    left:3.2rem;
    padding-left: 1rem;
    padding-top: 1rem;
    /* display: none; */
    background-color: transparent;
}
 