<!-- <img src="assets/res/mario.jpg" width="100vw" alt="ff"> -->
 
<div class="container">
    <div class="top-bar">
        <span style="margin-right:2rem;">{{updateTime()}}</span> 
        <i class="fa-solid fa-wifi" style="margin-right:2rem;"></i>
        <i class="fa-solid fa-battery-half" style="margin-right:1.3rem; font-size: 1.4rem;"></i> 
    </div>
    <div class="background"> 
    </div>
    <div class="button-bar">
        <app-menu-item icon="fa-solid fa-book" label="books"></app-menu-item>
        <app-menu-item icon="fa-sharp fa-solid fa-gamepad" label="games"></app-menu-item>
        <app-menu-item icon="fa-solid fa-graduation-cap" label="academics"></app-menu-item>
        <app-menu-item icon="fa-solid fa-gamepad" label="games"></app-menu-item>
        <app-menu-item icon="fa-sharp fa-solid fa-headphones" label="music"></app-menu-item>
    </div> 
</div>
