<h3>
  Movies & Series
</h3>  
<div class="movies-grid">
  <app-movie class="movie-item" name="Andhadhun" cover="/assets/res/movies/andhadhun.jpg"></app-movie>
  <app-movie class="movie-item" name="Apacalypto" cover="/assets/res/movies/apacolypto.jfif"></app-movie>
  <app-movie class="movie-item" name="Kungfu Panda" cover="/assets/res/movies/kfp.jpg"></app-movie>
  <app-movie class="movie-item" name="Her" cover="/assets/res/movies/her.jpg"></app-movie>
  <app-movie class="movie-item" name="The Dark Knight Rises" cover="/assets/res/movies/dkr.jpg"></app-movie>
  <app-movie class="movie-item" name="Forrest Gump" cover="/assets/res/movies/forrest_gump.jfif"></app-movie>
  <app-movie class="movie-item" name="Get Out" cover="/assets/res/movies/getout.jfif"></app-movie>
  <app-movie class="movie-item" name="Guardians of the Galaxy" cover="/assets/res/movies/ggog.jpg"></app-movie>
  <app-movie class="movie-item" name="Nocturnal Animals" cover="/assets/res/movies/nocturnal_animals.jpg"></app-movie>
  <app-movie class="movie-item" name="Superbad" cover="/assets/res/movies/superbad.jpg"></app-movie>
  <app-movie class="movie-item" name="Titanic" cover="/assets/res/movies/titanic.jpg"></app-movie>
  <app-movie class="movie-item" name="The Perks of Being a Wallflower" cover="/assets/res/movies/wallflower.jpg"></app-movie>
  <app-movie class="movie-item" name="Pokemon" cover="/assets/res/movies/pokemon.jfif"></app-movie>
  <app-movie class="movie-item" name="The Dark Knight" cover="/assets/res/movies/dk.jpg"></app-movie>
  <app-movie class="movie-item" name="Attack On Titan" cover="/assets/res/movies/aot.jpg"></app-movie>
  <app-movie class="movie-item" name="Mr. Robot" cover="/assets/res/movies/mrrobot.jpg"></app-movie>
  <app-movie class="movie-item" name="The Secret Life of Walter Mitty" cover="/assets/res/movies/walter_mitty.jpg"></app-movie>
  <app-movie class="movie-item" name="Dehli Belly" cover="/assets/res/movies/db.jpg"></app-movie>
  <app-movie class="movie-item" name="Zindagi Namilegi Dobara" cover="/assets/res/movies/znmd.jpg"></app-movie>
  <app-movie class="movie-item" name="Friends" cover="/assets/res/movies/friends.jpg"></app-movie>
  <app-movie class="movie-item" name="Greenbook" cover="/assets/res/movies/greenbook.jpg"></app-movie>
</div>