<h3 class="toggler-heading">
  Career
</h3>
<br>
<div class="career">
  <ul> 
    <li>
      <span class="list-logo-bullet">
        <img src="../../assets/res/logos/cotiviti.jfif" alt="Cotiviti logo" width="100%">
      </span>
      <span class="list-text">           
        Frontend (Angular) Developer
        <h5>COTIVITI NEPAL · Full-time</h5>
        <h6>Apr 2022 - current · 8 mos</h6>
        <h6>Hattisar, Kathmandu · Hybrid</h6>
        <!-- <small>Stacks: Oracle, PL/SQL, Java, Spring, Angular, JS.</small> -->
      </span> 
    </li>

    <li>
      <span class="list-logo-bullet">
        <img src="../../assets/res/logos/cotiviti.jfif" alt="Cotiviti logo" width="100%">
      </span>
      <span class="list-text">           
        Trainee
        <h5>COTIVITI NEPAL · Internship</h5>
        <h6>Mar 2022 - Apr 2022 · 2 mos</h6>
        <h6>Hattisar, Kathmandu · Hybrid</h6>
        <!-- <small>Project-based training on technologies like SQL, Java, Spring, Angular, Shell Scripting, U.S. Healthcare System.</small> -->
      </span> 
    </li>

    <li>
      <span class="list-logo-bullet">
        <img src="../../assets/res/logos/leapfrog.png" alt="Leapfrog logo" width="100%">
      </span>
      <span class="list-text">           
        Intern
        <h5>Leapfrog Technology, Inc.</h5>
        <h6>Dec 2021 - Jan 2022 · 2 mos</h6>
        <h6>Dillibazar, Kathmandu · Hybrid</h6>
        <!-- <small>Internship on Software Engineering with trainings on Web-development, Git, UI designing</small> -->
      </span> 
    </li>

    <li>
      <span class="list-logo-bullet">
        <img src="../../assets/res/logos/redmud.jfif" alt="Leapfrog logo" width="100%">
      </span>
      <span class="list-text">           
        Digital Marketting, Illustrator & Designer
        <h5>Redmud Coffee pvt. ltd.</h5>
        <h6>Jul 2021 - Dec 2021 · 6 mos</h6>
        <h6>Durbarmarg, Kathmandu · Hybrid</h6>
        <!-- <small>Making Illustrations, content for printables (menu, flyers,etc.) and social media posts. Handling social media platforms.   </small> -->
      </span> 
    </li>

  </ul>
</div>