.game-panel{
    width: 110px;
    height: 110px;  
    text-align: center !important;
    position: relative;
    box-shadow: 3px 4px 5px rgba(0, 0, 0, .3);
    border-radius: 5px;
    float: left;
    margin: 23px 20px;
    /* border: 1px solid red; */ 
}

.game-panel img{
    border-radius: 5px 5px 0 0;
    height: 100px;
    object-fit: cover;
    object-position: top;
    width: 100%;
    height: 80%;
    /* border: 1px solid yellow;   */
}

.game-panel p{ 
    /* margin-top: .3rem; */
    /* line-height: 15px; */
    /* justify-self: center; */
    color:seashell;
    height: 20%;
    font-size: .9rem;
    /* color: yellow; */
    text-shadow: 1 1 1px black;
    overflow: hidden;
    /* border: 1px solid lime; */
    margin: 0;
    position: absolute;
    /* padding-top: 3px; */
    bottom: 0;
    left: 0;
    right: 0;
}