<div class="games-grid">
  <app-game class="game-item" title="GTA5" cover="/assets/res/covers/gtav.jpg"></app-game>
  <app-game class="game-item" title="Arkham Knight" cover="/assets/res/covers/arkham.jpg"></app-game>
  <app-game class="game-item" title="Brothers In Arms" cover="/assets/res/covers/bia.jpg"></app-game>

  <app-game class="game-item" title="FIFA09" cover="/assets/res/covers/fifa09.png"></app-game>
  <app-game class="game-item" title="Monster Hunter Stories" cover="/assets/res/covers/mhs.jfif"></app-game>
  <app-game class="game-item" title="Resident Evil: Revelations" cover="/assets/res/covers/rer.jfif"></app-game>
  <app-game class="game-item" title="PUBG" cover="/assets/res/covers/pubg.jpg"></app-game>
  <app-game class="game-item" title="Mario Kart 8" cover="/assets/res/covers/mario-kart.jfif"></app-game>
  <app-game class="game-item" title="Ace Attorney" cover="/assets/res/covers/ace-attorney.jfif"></app-game>
  <app-game class="game-item" title="GTA Chinatown Wars" cover="/assets/res/covers/gtactw.jfif"></app-game>
  <app-game class="game-item" title="Super Mario Bros" cover="/assets/res/covers/smb.jfif"></app-game>
  <app-game class="game-item" title="Bomberman" cover="/assets/res/covers/bomberman.jpg"></app-game>
</div>
<br>
<br>


<div class="consoles">
  <h3>
    Favorite Consoles
  </h3> 
  <!-- <div class="console">
    <img src="../../assets/res/icons/gameboy-color.svg" alt="gameboy-color">
    <div class="console-name">
      Gameboy
    </div>
  </div> -->

  <div class="console">
    <img src="../../assets/res/icons/nintendo-ds2.svg" alt="nds">
    <div class="console-name">
      DS
    </div>
  </div>

  <div class="console">
    <img src="../../assets/res/icons/nintendo3ds.svg" alt="3ds">
    <div class="console-name">
      3DS
    </div>
  </div>

  <div class="console">
    <img src="../../assets/res/icons/nintendo-switch.svg" alt="nintendo-switch">
    <div class="console-name">
      Switch
    </div>
  </div>

  <div class="console">
    <img src="../../assets/res/icons/psp-go.svg" alt="sony-psp">
    <div class="console-name">
      PSP
    </div>
  </div>
</div>