<h3>
  Games
</h3>
<br>

<div class="games-grid">
  <app-game class="game-item" title="GTA5" cover="/assets/res/covers/gtav.jpg"></app-game>
  <app-game class="game-item" title="Arkham Knight" cover="/assets/res/covers/arkham.jpg"></app-game>
  <app-game class="game-item" title="Brothers In Arms" cover="/assets/res/covers/bia.jpg"></app-game>

  <app-game class="game-item" title="FIFA09" cover="/assets/res/covers/fifa09.png"></app-game>
  <app-game class="game-item" title="Monster Hunter Stories" cover="/assets/res/covers/mhs.jfif"></app-game>
  <app-game class="game-item" title="Resident Evil: Revelations" cover="/assets/res/covers/rer.jfif"></app-game>
  <app-game class="game-item" title="PUBG" cover="/assets/res/covers/pubg.jpg"></app-game>
  <app-game class="game-item" title="Mario Kart 8" cover="/assets/res/covers/mario-kart.jfif"></app-game>
  <app-game class="game-item" title="Ace Attorney" cover="/assets/res/covers/ace-attorney.jfif"></app-game>
  <app-game class="game-item" title="GTA Chinatown Wars" cover="/assets/res/covers/gtactw.jfif"></app-game>
  <app-game class="game-item" title="Super Mario Bros" cover="/assets/res/covers/smb.jfif"></app-game>
  <app-game class="game-item" title="Bomberman" cover="/assets/res/covers/bomberman.jpg"></app-game>
</div>