.games-grid{
    box-sizing: content-box; 
    max-height: 80vh;
    max-width: 90vw;
    /* border: 3px solid beige; */
    overflow-x: hidden;
    overflow-y: scroll;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
    padding: .5rem 1rem;
    backdrop-filter: blur(20px);
}

.consoles{
    height: 20vh;
    width: 90vw;
    position: fixed;
    /* border: 3px solid beige; */
    /* margin-top: auto; */
    /* bottom: 10px; */
    bottom: 4rem;
}

.console{
    height: 8vh; 
    /* width: 50px; */
    text-align: center;
    float: left;
    margin: 1rem 2rem;
    /* border: 1px solid red; */
}
.console img{
    /* height: 50%; */
    /* width: 100%; */
    height: 100%;
    /* border: 1px solid violet; */
}
.console-name{
    color: whitesmoke;
    line-height: 15px;
    font-size: .9rem;
}