/* You can add global styles to this file, and also import other style files */
*{
    padding: 0;
    margin: 0;
    position: relative;
    box-sizing: border-box;
} 
body{
  background-color: darkblue;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    /* font-family: 'Audiowide', cursive;
    font-family: 'Foldit', cursive;
    font-family: 'Great Vibes', cursive;
    font-family: 'Londrina Sketch', cursive; */
    font-family: 'Poppins', sans-serif;
    /* font-family: 'Roboto', sans-serif;
    font-family: 'Rubik Beastly', cursive;
    font-family: 'Sacramento', cursive; */
}

h3{
    font-family: 'Sacramento', cursive;
    font-size: 1.4rem;
    color: yellow;
    font-weight: 400;
}


   /* width */
   ::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    /* background: #f1f1f1; */
    background-color: transparent;
    border: 1px solid rgba(255, 255, 255, .4);
    /* background-image: url(../src/assets/res/sprites/track.png);
    background-size: contain;
    background-repeat: repeat-y; */
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb:hover{
    background: repeating-linear-gradient(
      45deg,
      thistle,
      coral 30px,
      thistle 20px,
      coral 30px
    );
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb {
    background: #555;
    /* background-image: url(../src/assets/res/sprites/train-box1.png);
    background-size: contain; */
  }