  <div id="labels">
    <ul>
      <li class="" id="title">title</li>
      <li class="" id="artist">artist</li>
      <li class="" id="album">album</li>
      <!-- <li class="" id="year">year</li> -->
      <li class="" id="genre">genre</li> 
    </ul>
  </div>
<div class="songs-container">
  <table id="songs-table">
    <tr class="song-item">
      <td class="title" width="25%">Can’t stop</td>
      <td class="artist" width="25%">RHCP</td>
      <td class="album" width="25%">By the Way</td>
      <!-- <td class="year" width="5%">2002</td> -->
      <td class="genre" width="25%">Alt. Rock, funk rock ; rap rock</td> 
    </tr>
    <tr class="song-item">
      <td class="title" width="25%">Californication</td>
      <td class="artist" width="25%">RHCP</td>
      <td class="album" width="25%">Californication</td>
      <!-- <td class="year" width="5%">1999</td> -->
      <td class="genre" width="25%">Alt. Rock, funk rock ; rap rock</td> 
    </tr>
    <tr class="song-item">
      <td class="title" width="25%">Wonderful Tonight</td>
      <td class="artist" width="25%">Eric Clapton</td>
      <td class="album" width="25%">Slowhand</td>
      <!-- <td class="year" width="5%">1977</td> -->
      <td class="genre" width="25%">Blues</td> 
    </tr>
    <tr class="song-item">
      <td class="title" width="25%">Wish You Were Here</td>
      <td class="artist" width="25%">Pink Floyd</td>
      <td class="album" width="25%">Shine On</td>
      <!-- <td class="year" width="5%">1975</td> -->
      <td class="genre" width="25%">Rock</td> 
    </tr>
    <tr class="song-item">
      <td class="title" width="25%">Aparibhasit</td>
      <td class="artist" width="25%">Swar</td>
      <td class="album" width="25%">single</td>
      <!-- <td class="year" width="5%">2022</td> -->
      <td class="genre" width="25%">Classical, Blues</td> 
    </tr>
    <tr class="song-item">
      <td class="title" width="25%">Batash</td>
      <td class="artist" width="25%">Shashwot Khadka</td>
      <td class="album" width="25%">single</td>
      <!-- <td class="year" width="5%">2021</td> -->
      <td class="genre" width="25%">Pop, Electronic</td> 
    </tr>
    <tr class="song-item">
      <td class="title" width="25%">My Sweet Lord</td>
      <td class="artist" width="25%">George Harrison</td>
      <td class="album" width="25%">All Things Must Pass</td>
      <!-- <td class="year" width="5%">1970</td> -->
      <td class="genre" width="25%">Folk rock, gospel, pop</td> 
    </tr>
    <tr class="song-item">
      <td class="title" width="25%">Narisauna</td>
      <td class="artist" width="25%">Tribal Rain</td>
      <td class="album" width="25%">single</td>
      <!-- <td class="year" width="5%">2021</td> -->
      <td class="genre" width="25%">Rock, Instrumental, pop</td> 
    </tr>
    <tr class="song-item">
      <td class="title" width="25%">Over The Horizon</td>
      <td class="artist" width="25%">Samsung</td>
      <td class="album" width="25%">Brand Music 2019</td>
      <!-- <td class="year" width="5%">2019</td> -->
      <td class="genre" width="25%">Instrumental</td> 
    </tr>
    <tr class="song-item">
      <td class="title" width="25%">East Side Story</td>
      <td class="artist" width="25%">Bryan Adams</td>
      <td class="album" width="25%">East Side Story</td>
      <!-- <td class="year" width="5%">2004</td> -->
      <td class="genre" width="25%">Rock</td> 
    </tr>
    <tr class="song-item">
      <td class="title" width="25%">Saiyann</td>
      <td class="artist" width="25%">Kailash Kher</td>
      <td class="album" width="25%">Saiyann</td>
      <!-- <td class="year" width="5%">2007</td> -->
      <td class="genre" width="25%">Indian Film Pop, Indian Folk</td> 
    </tr>
    <tr class="song-item">
      <td class="title" width="25%">Don't Cry</td>
      <td class="artist" width="25%">Guns N' Roses</td>
      <td class="album" width="25%">Use Your Illusion I</td>
      <!-- <td class="year" width="5%">1991</td> -->
      <td class="genre" width="25%">Hard rock, Rock</td> 
    </tr>
    <tr class="song-item">
      <td class="title" width="25%">Sano Prakash</td>
      <td class="artist" width="25%">Atomic Bush</td>
      <td class="album" width="25%">Sano Prakash</td>
      <!-- <td class="year" width="5%">2005</td> -->
      <td class="genre" width="25%">Hard rock, Rock</td> 
    </tr>
    <tr class="song-item">
      <td class="title" width="25%">Sleep</td>
      <td class="artist" width="25%">Poets of the Fall</td>
      <td class="album" width="25%">Signs of Life</td>
      <!-- <td class="year" width="5%">2005</td> -->
      <td class="genre" width="25%">Pop, Rock</td> 
    </tr>
    <tr class="song-item">
      <td class="title" width="25%">Slow Dancing In A Burning Room</td>
      <td class="artist" width="25%">John Mayer</td>
      <td class="album" width="25%">Continuum</td>
      <!-- <td class="year" width="5%">2006</td> -->
      <td class="genre" width="25%">Rock, Singer-Songwriter</td> 
    </tr>
  </table>
</div>

